
/* 顶端导航栏CSS */
body {
    margin: 0;
    padding: 0;
}

.nav,
.nav-bot {
    width: 100%;
}

.nav {
    height: 89px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
}

.nav-top {
    width: 88%;
    height: 52px;
    margin-left: 6%;
}

.nav-bot {
    height: 37px;
    line-height: 37px;
    background-color: black;
}

.log {
    float: left;
}

.log-box {
    width: 200px;
    height: 52px;
    float: left;
    text-align: center;
    line-height: 52px;
}

.log-box a {
    font-size: 12px;
    color: #000000;
    font-family: "Microsoft YaHei";
    text-decoration: none;
    margin: 0 5px;
}
.log-box span{
    font-size: 12px;
}

.nav-menu-top {
    float: right;
    margin-right: 30px;
}

.nav-menu-top li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
.nav-menu-top li a{
    text-decoration: none;
    color: #000000 ;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}





.nav-bot-in {
    width: 88%;
    height: 37px;
    padding-left: 6%;
}

#all-style {
    width: 210px;
    height: 37px;
    float: left;
    clear: left;
    background-color: #D6211A;
    padding: 0 2px 0 2px;
    position: relative;
    top: -4px;
}

#all-style a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Microsoft YaHei";
    margin-left: 25px;
}



.nav-menu-bot {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -4px;
}

.nav-menu-bot li {
    float: left;
    width: 62px;
    height: 37px;
    padding: 0 7px 0 7px;
    text-align: center;
    line-height: 37px;
}

.nav-menu-bot li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}



.nav-bot-in input {
    border-radius: 7px;
    border: 1px solid #DBDBDB;
    width: 200px;
    height: 25px;
    position: relative;
    left: 35px;
    bottom: 10px;
}

#tianchong{
    width: 100%;
    height: 89px;
    position: relative;
    top: 0;
}

#tuichu{
	font-family: "Microsoft YaHei";
	font-size: 12px;
	color: #000000;
}


/* 二级菜单CSS */
#all-style-submenu{
    position: fixed;
    top:89px;
    left: 6%;
    width: 214px;
    height: 540px;
    z-index: 10;
    background-color: #000000;
    display: none;
}

#all-style-submenu ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#all-style-submenu li{
    padding: 7px 15px 8px 15px;
}

.style-title,.style-normal{
    height: 22px;
}
.style-normal{
	display: inline;
}

.style-title a{
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    opacity: 1;
    text-decoration: none;
}

.style-normal a{
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    opacity: 1;
    text-decoration: none;
    margin-right: 10px;
}




.submenu{
    width: 637px;
    height: 337px;
    position: fixed;
    top: 89px;
    z-index: 10;
    background-color: #FFFFFF;
    display: none;
}
.submenu-left{
    width: 220px;
    height: 298px;
    float: left;
    margin-top: 20px;
    border-right: 1px solid #eee;
}
.submenu-left img{
    padding-left: 20px;
}
.submenu-right{
    width: 416px;
    height: 100%;
    float: left;
}
.title a{
    text-decoration: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #000000;
    margin-right: 8px;
}
.title{
    border-bottom: 1px dashed #ddd;
    margin-top: 10px;
    font-weight: 700;
    padding-left: 10px;
}




/* 右侧固定栏 */
#right-fix{
    position: fixed;
    right: 0px;
    width: 30px;
    height: 580px;
    background-color: #000000;
    z-index: 10;
}
#right-main{
    width: 30px;
    height: 400px;
    position: fixed;
    top: 250px;
}
#shopcart{
    width: 30px;
    height: 112px;
}
#shopcart-border{
    width: 20px;
    height: 80px;
    padding: 15px 0px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    position: relative;
    left: 5px;
}
#shopcart-border img{
    width: 23px;
    height: 23px;
    position: relative;
    right: 1px;
}
.text{
    text-align: center;
}
.text a{
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    text-decoration: none;
}
.icon{
    width: 30px;
    height: 35px;
    margin-top: 13px;
}
.icon img{
    width: 22px;
    height: 22px;
    margin: 6px 0 0 5px;
}


.tankuang{
    width: 120px;
    height: 35px;
    position: fixed;
    right: 35px;
    background-color: #494949;
    z-index: 10;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 35px;
    display: none;
}
.sanjiao{
    color: #494949;
    font-size: 40px;
    position: fixed;
    right: 25px;
    z-index: 11;
    display: none;
}
.erweima{
    width:240px;
    height: 155px;
    position: fixed;
    right: 35px;
    top:420px;
    background-color: #FFFFFF;
    display: none;
}
.erweima img{
    position: relative;
    left: 13px;
    top: 10px;
}
.sanjiao1{
    color: #FFFFFF;
    font-size: 40px;
    position: fixed;
    right: 25px;
    top: 510px;
    z-index: 11;
    display: none;
}


/* 轮播图CSS */
#lunbo {
    width: 100%;
    height: 500px;
    position:relative;
    top:-16px;
    clear: both;
}

.item {
    display: none;
    list-style: none;
}

.item img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.lr-tab .btn {
    position: absolute;
    width: 41px;
    height: 69px;
    top: 195px;

}

.lr-tab .left {
    left: 0px;
    background-position-x: -83px;
}

.lr-tab .left:hover {
    background-position-x: 0;
    cursor: pointer;
}

.lr-tab .right {
    right: 35px;
    background-position: -125px 0;
}

.lr-tab .right:hover {
    background-position-x: -41px;
    cursor: pointer;
}

.tab-btn {
    position: absolute;
    width: 120px;
    height: 30px;
    right: 15px;
    bottom: 15px;
}

.bottom-btn {
    list-style: none;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    float: left;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all .2s;
}

.bottom-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: all .3s;
    cursor: pointer;
}

.active {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: all .1s;
}
.jiantou{
    width: 35px;
    height: 70px;
}



/* 商品展示一区CSS */
#product-one{
    width: 100%;
    height: 930px;
    background-color: #f3f3f3;
    position: relative;
    top: 40px;
}
#product-one a{
    text-decoration: none;
}
.cover{
    background-color: #000000;
    opacity: 0;
    position:absolute;
}
.btn-one{
    width: 112px;
    height: 42px;
    border: 1px solid #FFFFFF;
    font: 14px "Microsoft YaHei"; 
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
}
.btn-one a{
    text-decoration: none;
    font: 14px "Microsoft YaHei"; 
    font-weight: bold;
    color: #FFFFFF;
}
#one-1{
    width: 580px;
    height: 500px;
    float: left;
    margin: 40px 0 0 6%;
}
#one-2{
    width: 580px;
    height: 500px;
    float: right;
    margin: 40px 6% 0 0;
}
.font-top{
    text-align: center;
    margin-top: 15px;
}
.font-top a{
    color: #333333;
    font: 18px "Microsoft YaHei";
    font-weight: bold;
}
.font-bot{
    text-align: center;
    margin-top: 10px;
}
.font-bot a{
    color: #333333;
    font: 14px "Microsoft YaHei";
}
#one-3,#one-4,#one-5{
    width: 385px;
    height: 360px;
    
}
#one-3{
    float: left;
    margin-left: 6%;
}
#one-4{
    float: left;
    margin-left: 1.1%;
}
#one-5{
    float: right;
    margin-right: 6%;
}



/* 商品展示二区CSS */
#product-two{
    width: 100%;
    height: 750px;
    position: relative;
    top: 40px;  
}
#two-title{
    width: 88%;
    height: 150px;
    margin-left:6%;
    text-align: center
}
#product-two a{
    text-decoration: none;
    display: block;
}
#t1{
    color: #333333;
    font-size: 26px;
    font-family:"Microsoft YaHei";
    font-weight: 500;
    position: relative;
    top: 40px;
}
#t2{
    color: #333333;
    font-size: 32px;
    font-family:"Microsoft YaHei";
    font-weight: 600;
    position: relative;
    top: 60px;
}
#two-1,#two-2{
    width: 583px;
    height: 550px;
}
#two-1{
    float: left;
    margin-left: 6%;
}
#two-2{
    float: right;
    margin-right: 6%;
}
#two-1 div,#two-2{
    text-align: center;
}
.two-top{
    color: #000000;
    font-size: 26px;
    font-family: "Microsoft YaHei";
    position: relative;
    top: 15px;
}
.two-bot{
    color: #000000;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    position: relative;
    top: 25px;
}
.two-btn a{
    width: 106px;
    height: 32px;
    margin: auto;
    line-height: 32px;
    border: #000000 1.2px solid;
    color: #000000;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: 800;
    position: relative;
    top: 40px;
}



/* 商品展示三区CSS */
#product-three{
    width: 100%;
    position: relative;
    top: 40px;
}
#three-main{
    width: 90%;
    margin-left: 6%;
}
.product-box{
    width: 288px;
    
    margin: 5px 11.3px 20px 0;
    float: left;
    border: 1px solid #FFFFFF;
}
.product-box:hover{
    border: 1px solid #b7b7b7;
    position: relative;
    top: 1px;
}
.product-img{
    width: 100%;
    text-align: center;
}
.product-img img{
	width: 280px;
	height: 280px;
}
.three-top{
    color: #000000;
    font-size: 15px;
    font-family: "Microsoft YaHei";
    text-align: center;
    margin-top: 10px;
}
.three-bot{
    color: #000000;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    text-align: center;
    margin: 10px 0 5px 0;
}
#more{
    width: 300px;
    height: 40px;
    border: #333333 1px solid;
    text-align: center;
    line-height: 40px;
    margin: auto;
}
#more a{
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-family: "Microsoft YaHei";
}






/* 底部CSS */
#footer{
    width: 100%;
    height: 375px;
    border-top: 3px #e2e2e2 solid;
    position: relative;
    top: 40px;
}
#footer-main{
    width: 88%;
    height: 265px;
    margin: 35px 0 30px 6%;
}
#footer-left{
    width: 800px;
    height: 100%;
    border-right: 1px solid #DBDBDB;
    float: left;
}
.f-ul{
    margin-right:155px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; 
    float: left;
}
.last-ul{
    margin-right:70px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; 
    float: left;
}
#footer-left ul li{
    list-style-type: none;
    height: 30px;
}
#footer-left ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#first-li{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
#footer-left ul li a:hover{
    color: red;
}
#footer-right{
    width: 385px;
    height: 265px;
    float: left;
}
#ask{
    color: #000000;
    font-size: 16px;
    font-family: "Microsotf YaHei";
    font-weight: bold;
    margin: 5px 0 10px 100px;
}
#tel{
    width: 250px;
    height: 40px;
    font-size: 34px;
    margin: 5px 0 10px 100px;
}
#service{
    margin: 15px 0 10px 100px;
    width: 137px;
    height: 27px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}
#service:hover{
    background-color: red;
}
#service a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
#service:hover a{
    color: #FFFFFF;
}
#wechat{
    margin: 15px 0 10px 100px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
#wechat-img{
    margin: 15px 0 10px 100px;
}
#footer-bot{
    width: 100%;
    height: 60px;
    background-color: #000000;
}
.copyright{
    width: 140px;
    height: 60px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Microsotf YaHei";
    float: left;
    line-height: 60px;
    margin-left: 5.8%;
}
.company-name{
    width: 150px;
    height: 60px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Microsotf YaHei";
    float: left;
    line-height: 60px;
    margin-left: 10px;
}
#police{
    float: left;
    position: relative;
    left: 25px;
    top: 10px;
}
.company-icp{
    width: 150px;
    height: 60px;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Microsotf YaHei";
    float: left;
    line-height: 60px;
    margin-left: 48px;
}
#bot-ul{
    float: right;
    margin-right: 70px;
}
#bot-ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
#bot-ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Microsotf YaHei";
}
#bot-ul li a:hover{
    color:red;
}
